<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/admin/book_display' ? 'active' : '' %>" href="/admin/book_display">Books Display</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add_book' ? 'active' : '' %>" href="/admin/add_book">Book Info</a></li>
        </ul>
    </nav>
</header>